<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	{{>header title=title}}
	<form>
		<input type="text" placeholder="location" name="location">
		<button type="submit">Search</button>
	</form>
	<p id="loading"></p>
	<p id="forecast"></p>
	{{>footer name=name}}
</body>
<script src="/js/app.js"></script>
</html>